{% from "script/_entrypoint.py.jinja" import get_entrypoints %}
from kirami import KiramiBot

KiramiBot()

{{ get_entrypoints() }}

if __name__ == "__main__":
    for e in entrypoints:
        if e.name == {{ script_name|repr }}:
            e.load()()
            break
